html {
	height: 100%;
}

body {
	margin: 0;
	width: 100%;
	height: 100%;
	min-height: 600px;
	min-width: 1024px;
	background: #2D3161 url("splash.jpg") center center no-repeat;
	background-size: cover;
}

.c-wrapper {
	background: url("cloud.png") 0 0;
	height: 100%;
	background-size: cover;
}

label {
	border: 2px solid #1a5276;
	border-radius: 25px;
	background: #5dade2;
	color: #000;
	padding: 6px 6px;
	margin: 10px;
	cursor: pointer;
	display: block;
	width: 200px;
	text-align: center;
	font-family: sans-serif;
}

a {
	color: blue;
	display: inline-block;
}

@media (max-width: 1024px) {
	body {
		min-width: 100%;
	}

	.c-wrapper {
		width: 100%;
		height: auto;
	}

	center {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	
	.flex-row {
		flex-direction: row;
	}

}

.article-list-large {
    list-style:none;
    margin: 0 auto;
    max-width: 1200px;
    text-align: center;
    padding: 0;
}

.article-list-large li {
    position: relative;
    display: inline-block;
    box-sizing:border-box;
    border-radius: 2px;
    box-shadow: 1px 3px 1px rgba(0, 0, 0, 0.08);
    border:1px solid #cfcfcf;
    background-color: #fff;
    font: bold 14px sans-serif;
    text-align: left;
    margin: 49px;
    max-width: 500px;
    padding: 10px;
	opacity: 0.9;
}

.article-list-large li a img {
    width: 100%;
}