html {
	height: 100%;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
    background: #2D3161 url("splash.jpg") center center no-repeat;
    background-size: cover;
}

.c-wrapper {
    background: url("cloud.png") 0 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    pointer-events: none;
    z-index: 1;
}

.content {
    position: relative;
    z-index: 2;
}

label {
	border: 2px solid #1a5276;
	border-radius: 25px;
	background: #5dade2;
	color: #000;
	padding: 6px 6px;
	margin: 10px;
	cursor: pointer;
	display: block;
	width: 200px;
	text-align: center;
	font-family: sans-serif;
}

a {
	color: #000;
	text-decoration: none;
	display: inline-block;
}